@font-face {
  font-family: Honk;
  src: url("./font/Honk.ttf");
}

@font-face {
  font-family: LuckiestGuy;
  src: url("./font/LuckiestGuy.ttf");
}

:root {
  background-color: rgb(20, 20, 20);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 20vh auto 0 auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #0d47a1;
}

::-webkit-scrollbar-thumb {
  background: #e3f2fd;
}
