@font-face {
  font-family: Jersey10;
  src: url("./font/Jersey10.ttf");
}

@keyframes pauseTimer {
  0% {
    color: white;
  }
  50% {
    color: #0d47a1;
  }
  100% {
    color: white;
  }
}

@keyframes wrongCounter {
  0% {
    color: white;
  }
  50% {
    color: #b71c1c;
  }
  100% {
    color: white;
  }
}

@keyframes rightCounter {
  0% {
    color: white;
  }
  50% {
    color: #1b5e20;
  }
  100% {
    color: white;
  }
}

:root {
  background-color: rgb(20, 20, 20);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #0d47a1;
}

::-webkit-scrollbar-thumb {
  background: #e3f2fd;
}
